
body{
    margin: 0;
    background-image: url(assets/cinema2.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 150px;
    font-family: sans-serif;
    color: rgba(54, 34, 59, 0.913);;
}

header{
    background-color:rgba(122, 7, 59, 0.80);
    padding: 20px;
}



/* Navigation Bar  */

nav{
    background-color: rgba(54, 34, 59, 0.913);
    border-top: double 5px rgba(255, 217, 0, 0.632);
    border-bottom: double 5px rgba(255, 217, 0, 0.632);
    padding: 1px;
    position: sticky;
    top: 0;
    margin-bottom: 25px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    font-family: 'Fredoka One', cursive;
    padding-left: 45px;
    padding-right: 45px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 250, 239);
    font-size: 1.4em;
}

nav ul li a:hover{
    color: rgb(244, 236, 213);
    text-shadow: 1px 2px rgba(255, 0, 98, 0.769);
    cursor: pointer;
}



/* Footer  */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgba(122, 7, 59, 0.80);
    border-top: double 5px rgba(255, 217, 0, 0.632);
}

footer ul {
    list-style: none;
    text-align: right;
    padding-right: 20px;
    text-align: center;
}

footer ul li {
    padding: 1px;
    display: inline;
}

footer ul li a{
    color: rgba(255, 217, 0, 0.632);
    font-family: Helvetica, sans-serif, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 80%;
    padding-left: 70px;
    padding-right: 70px;
}

footer ul li a:hover{
    text-decoration: underline;
}

.title{
    text-decoration: none;
    color: rgb(249, 170, 75);
    font-family: 'Monoton', cursive;
    font-size: 3em;
    text-shadow: 2px 2px rgba(54, 34, 59, 0.913);
}

.content{
    margin: auto;
    width: 90%;
    background-color: rgba(28, 11, 11, 0.598);
    background-color: rgba(255, 255, 255, 0.85);

    padding: 20px;
    border: ridge 4px white;
    box-shadow: 10px 10px 50px #000000;
    border-radius: 15px;
}


#home-content{
    filter: hue-rotate(330deg);
}

#home-content{
    height: 50%;
}


/* Home  */
.home-banner{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 100px;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(228, 233, 216, 0.749);

    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
    color: rgba(122, 7, 59, 0.80);
    text-shadow: 1px 1px rgba(255, 0, 98, 0.769);

    border-radius: 30px;
    border: solid 2px rgba(255, 0, 98, 0.769);
    box-shadow: 0px 0px 80px 40px ;
}


/* Movies  */

.movies-list{
    display: flex;
}

.movies-list img{
    width: 90%;
    box-shadow: 15px 15px 25px rgb(26, 26, 25);
    display: block;
    margin: auto;
    margin-bottom: 60px;
    cursor: pointer;
}

.movies-list img:hover{
    transform: scale(1.25) rotate(2deg);
    box-shadow: 50px 50px 100px rgb(0, 0, 0);
}

.movies-column{
    padding: 10px;
}

.movies-play{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(237, 202, 221, 0.975);
    
    display: none;
    border: solid 2px rgba(122, 7, 59, 0.80);
    box-shadow: 0px 0px 50px 1000px;
}


/* Cinemas */

.location-card{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 20px;
}

.cinema-details{
    background-color: rgba(187, 34, 131, 0.214);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: solid 2px rgba(255, 0, 98, 0.769);
    color: rgba(122, 7, 59, 0.80);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    box-shadow: 0px 0px 15px #000000;
}

.cinema-details h1{
    color: rgba(54, 34, 59, 0.913);
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 2px rgba(122, 7, 59, 0.80);
}

.cinema-details a{
    color: rgba(122, 7, 59, 0.80);
}

.map{
    border-top: solid 2px rgba(255, 0, 98, 0.769);
    border-right: solid 2px rgba(255, 0, 98, 0.769);
    border-bottom: solid 2px rgba(255, 0, 98, 0.769);
    width: 80%;
    box-shadow: 0px 0px 15px #000000;
}

.map iframe{
    width: 100%;
}

.contact-label{
    font-weight: bold;
    color: rgba(54, 34, 59, 0.913);
}



/* Screenings */

.tab {
    display: flex;
    justify-content: center;
}

.tab button {
    width: 50%;
    cursor: pointer;
    transition: 0.1s;
    border: solid 2px rgba(122, 7, 59, 0.80);
    background-color: rgba(122, 7, 59, 0.80);
    padding: 10px;
    box-shadow: 1px 1px 10px #000000;
    color: rgba(242, 235, 194, 0.79);
    border-radius: 4px;
    font-size: 1em;

}

.tab button.active {
    filter: opacity(75%);
}

.tab button:hover {
    background-color: rgba(122, 7, 59, 0.303);
    border: solid 2px rgba(122, 7, 59, 0.571);
    color: rgba(122, 7, 59, 0.80);
    cursor: pointer;
}

.tab button.active:hover {
    background-color: rgba(122, 7, 59, 0.303);
    border: solid 2px rgba(122, 7, 59, 0.571);
    color: rgba(122, 7, 59, 0.80);
    cursor: pointer;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgba(187, 34, 131, 0.214);
}

.button{
    border: solid 2px rgba(122, 7, 59, 0.80);
    background-color: rgba(122, 7, 59, 0.80);
    padding: 10px;
    display: block;
    box-shadow: 1px 1px 10px #000000;
    color: rgba(242, 235, 194, 0.79);
    border-radius: 4px;
    font-size: 1em;
}

.button:hover{
    background-color: rgba(122, 7, 59, 0.303);
    border: solid 2px rgba(122, 7, 59, 0.571);
    color: rgba(122, 7, 59, 0.80);
    cursor: pointer;
}



/* Table  */

table{
    left: auto;
    border-collapse: collapse;
    border: solid 1px #000000;
    width: 100%
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(187, 34, 131, 0.557);
    color: rgba(54, 34, 59, 0.913);
}

table th, table td{
    border: solid 1px #000000;
    padding: 8px;
}

table tr:nth-child(even){
    background-color:#f2f2f2;
}

table tr:hover{
    background-color: rgba(249, 171, 75, 0.468);
    color: rgba(54, 34, 59, 0.913);
}



/* Contact Us  */

.contact-form{
    background-color: rgba(187, 34, 131, 0.214);
    padding: 30px;
    border: solid 1px rgba(54, 34, 59, 0.913);
    margin: auto;
    width: 90%;
    border-radius: 20px;
}

.contact-form label{
    font-weight: bold;
    display: inline-block;
    width: 150px;
    padding: 5px;
    font-size: 1em;
    vertical-align: top;
}

.contact-form input{
    border: solid 1px rgba(54, 34, 59, 0.913);
    box-sizing: border-box;
    font-size: 1em;
    width: 75%;
}

.contact-form #message{
    border: solid 1px rgba(54, 34, 59, 0.913);
    box-sizing: border-box;    
    font-size: 1em;
    width: 75%;
}

.contact-form #submit{
    margin-top: 20px;
    margin-left: 165px;
    width: inherit;
    display: inline;
}

.contact-form #reset{
    width: inherit;
    display: inline;
}